* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Georgia", serif; 
    background-color: #ffffff; 
    color: #333; 
    line-height: 1.6;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; /* it starts at the very left */
    z-index: 1000;
}

.header-nav {
    padding: 1em 2em;
    background: #333; /* Semi-transparent black */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
    color: #ffd700; 
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5em;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 1.1em;
}

a:hover {
    color: #ffd700;
}

/* Main Content */
main {
    margin-top: 100px; /* Push content below fixed header */
}

main h1 {
    /* border: 3px solid red; */
    text-align: center;
    margin-top: 4em;
}

.tourist-offices {
    width: 80%;
    margin: auto;
    /* border: 3px solid blue; */
}

.office {
    /* display: flex; */
    padding: 2em 0;
    clear: both;
}

.office .image {
    /* border: 3px solid red; */
    float: left;
    padding: 1em 0; 
    /* padding: haut droite bas gauche;  */
    margin: 0 0 0 3em;
}

.office:nth-of-type(2n) .image {
    float: right;
    margin: 0 3em 0 0;
}

.office .info {
    float: left;
    /* border: 3px solid red; */
    margin: 2em 5em
}

.office:nth-of-type(2n) .info {
    float: right
}

.info h2 {
    color: #ffd700;
}

.info h3 {
    padding: 0.5em 0;
}

.opening-hours {
    margin-left: 2em;
}

.opening-hours tr th:first-child {
    font-weight: bold;
    text-align: left;
}

.opening-hours tr td {
    padding: 2px 5px;
    text-align: center;
}

.clear {
    clear: both;
}

.contact-form {
    text-align: center;
    border: 3px solid red;
    padding-top: 3em;
    width: 70%;
    margin: auto;
}

/* Footer */
body .footer {
    background: #333;
    color: #fff;
    /* text-align: center; */
    padding: 2em 0;
    margin-top: 2em;
    font-size: 0.9em;
}

footer {
    text-align: center;
    padding: 1em;
    background: #333;
    color: #fff;
    font-size: 0.9em;
}